.box {
    display: flex;
    mmbackground-image:url("../images/voda.png");
    background: #c1f8f6;    
}
article {
    display: flex;
    flex-direction: row;
}
.news {
    background: #f9f9e9;
    padding: 0 40px 0 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    height: auto;
    width: 60%;    
}
.post {
    text-align: center;
    color: red;
} 
.foto {
    margin-right: 20px;
    mmfloat: left;
    text-align: left;
    width: 700px;
    border: 2px solid;
}
.pb {
    color: green;
}
