.navbar {
    padding: 10px;
    list-style-type: none;
    background-color: #000;
    height: 40px;
}
.nav,.nli {
    display: flex;
    flex-direction: row;
    padding-left: 40px;    
    margin: 0px;
}
.navbar a {
    text-decoration: none;
    list-style-type:none;
    color: #fff;
    padding: 10px;
}
a:hover {
    color: #b563b4;
    transform: scale(1.3);
}
