.sad {
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    background: #c1f8f6;
    min-height: 400px;
    width: 350px;
    height: auto;
    margin: 0;
}
.men {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 20px;
    list-style-type: none;
    text-align: center;
}
.av {
    margin-bottom: 40px;
    background: green;
    width: 150px;
    height: 30px;
}
.av:hover {
    color: #b563b4;
    transform: scale(1.2);
}

.str {
    text-align: center;
    color: red;
    font-size: 32px;
}
.sli {
    margin-top: 30px;
}
.sli:hover {
    color: #b563b4;
    transform: scale(1.1);
}
#time { 
    width: auto;
    border:5px solid darkgreen;
    margin-left:40px;
    margin-right:40px;
    background-color:darkblue;
    color:white;
    font-weight:bold;
    font-size:40px;
    text-align: center;
}
.banner {
    width: 280px;
    height: 200px;
    border: 2px solid;
    margin: 30px 20px 0 20px;
}
.bn {
    width: 280px;
    height: 200px;
}
